
<div class="form-container" id="loginForm">
  <h2 class="form-title mb-5">تسجيل الدخول</h2>
  <form>
    <div class="mb-3">
      <label for="emailLogin" class="form-label">البريد الإلكتروني</label>
      <input type="email" class="form-control" id="emailLogin" placeholder="أدخل بريدك الإلكتروني">
    </div>

    <div class="mb-3">
      <label for="passwordLogin" class="form-label">كلمة المرور</label>
      <input type="password" class="form-control" id="passwordLogin" placeholder="أدخل كلمة المرور">
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-stretch align-items-sm-center mt-5 text-center gap-2">
      <button type="submit" class="btn btn-primary mb-2  px-5 py-2 ">تسجيل الدخول</button>
      <a href="#">هل نسيت كلمة المرور؟</a>
    </div>
  </form>
</div>