<div class="card rounded p-0 pb-2 row g-2 w-100 d-flex flex-column align-items-center gap-3">
  <h1 class="fs-2 fw-bold text-dark p-2 my-2 bg-dark text-white mt-0">ما جولاتنا ؟</h1>

  <div class=" d-flex flex-wrap gap-2 row justify-content-center mx-auto">
    <div class="card col-sm p-0" >
      <img src="../src/website-assets/tour-egypt.jpeg" class="card-img-top" alt="Egypt Tour">
      <div class="card-body">
        <h5 class="card-title">رحلة إلى مصر</h5>
        <p class="card-text">سعرها  800 دولارا.</p>
        <a href="?pagePath=egypt" class="btn btn-dark">معلومات أكثر</a>
      </div>
    </div>
    <div class="card col-sm p-0" >
      <img src="../src/website-assets/tour-turkey.jpeg" class="card-img-top" alt="Turkey Tour">
      <div class="card-body">
        <h5 class="card-title">رحلة إلى تركيا</h5>
        <p class="card-text">  سعرها  1000 دولارا. </p>
        <a href="?pagePath=turkey" class="btn btn-dark">معلومات أكثر</a>
      </div>
    </div>
  </div>
</div>