<div class="card rounded p-0 w-100">
  <h1 class="fs-2 fw-bold  p-2 my-2 bg-primary text-white mt-0 text-center py-4">مميزاتنا</h1>

  <div class="fs-4 text-secondary m-2">
    <span >الشركة السياحية الأفضل في الوطن العربي،</span>
    <span class="text-primary">هدفنا مساعدتك وتيسير أمورك،</span>
    <span >لا تتردد بالتواصل معنا فنحن هنا لنساعدك على إيجاد كل ما تحتاج له. </span>
    <span class="text-primary">إن كنت تبحث عن سكن أو جولة سياحية لتقضي أفضل الأوقات فقد وجدت طلبك.</span>
  </div>
</div>