  <script>
/**
 * Function to handle routing to be suitable with github pages hosting.
 * Sets the page title based on the URL query parameter "pagePath".
 * Sets the active navigation link based on the page path.
 * Removes all unnecessary content from the main section and sets the required section as the main content.
 */
    window.onload = () => {
      const pageTitle = {
        home: " | الرئيسية",
        register: " | التسجيل",
        login: " | تسجيل الدخول",
        tours: " | الرحلات",
        egypt: " | رحلة مصر",
        turkey: " | رحلة تركيا"
      }
      // Get the URL query parameters
      const params = new URLSearchParams(window.location.search);
      let pagePath = "home";
      if (params.has("pagePath") && ['register', 'login', 'tours'].includes(params.get("pagePath"))) {
        pagePath = params.get("pagePath");
      }
      document.querySelector('head title').innerHTML += pageTitle[pagePath];
      const activePage = ['register', 'login'].includes(pagePath) ? 'auth' : (['egypt', 'turkey'].includes(pagePath) ? 'tours' : pagePath);
      document.querySelector('.nav-link[data-page="' + activePage + '"]').classList.add('active');
      // remove all unnecessary content
      const mainSection = document.querySelector('main');
      const requiredSection = document.querySelector('#' + pagePath);
      mainSection.innerHTML = requiredSection.innerHTML;
      mainSection.style.display = "flex";
    }
  </script>