  <header class="bg-dark text-white text-center">
    <nav class="navbar navbar-expand-lg navbar-dark container d-lg-flex justify-content-lg-between">
      <a class="navbar-brand" href="./">
        <img src="../src/website-assets/plane.png" width="25px" height="25px" alt="شعار الشركة"
          class="d-inline-block bg-white p-1 rounded">
        سفرني
      </a>
      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse max-w-lg-fit p-0" id="navbarNav">
        <ul class="navbar-nav ms-auto w-100 max-w-lg-fit mx-auto p-0">
          <li class="nav-item">
            <a class="nav-link" href="?pagePath=home" data-page="home">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="?pagePath=tours" data-page="tours">الجولات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="?pagePath=register" data-page="auth">التسجيل</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>