<div class="card rounded p-0 w-100 col-12">
  <h1 class="fs-2 fw-bold  p-2 my-2 bg-primary text-white mt-0">رحلة إلى الأهرامات في مصر</h1>

  <ul class="fs-5 text-secondary m-2">
    <li>تتصف أهرامات مصر الثلاثة بأنها أحد أهم عجائب الدنيا السبعة.</li>
    <li>تقع على هضبة الجيزة في محافظة الجيزة.</li>
    <li>أيضًا تقع على الضفة الغربية لنهر النيل.</li>
    <br>
    <li>وهي تشمل ثلاثة أهرامات وهم خوفو، خفرع، منقرع، والتي بنيت قبل حوالي 25 قرنًا قبل الميلاد.</li>
    <li>وهي مقابر ملكية كل منها يحمل اسم الملك الذي بناه والذي دفن فيه. </li>
    <br>
    <li>وأفضل الأنشطة التي يمكنكم القيام بها في هذه الرحلة:
      <ul>
        <li>التقاط أجمل الصور التذكارية هناك.</li>
        <li>القيام بجولة حول الأهرامات لتروا ضخامتها وعظمة بناء هذه الأهرامات قبل آلاف السنين.</li>
        <li>ركوب الجمال.</li>
      </ul>
    </li>
  </ul>
  <br>
  <div id="egyptImages" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="5"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="6"></button>
      <button type="button" data-bs-target="#egyptImages" data-bs-slide-to="7"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="src/website-assets/egypt-tour/1.jpeg" alt="tour image 1" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/2.jpeg" alt="tour image 2" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/3.jpeg" alt="tour image 3" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/4.jpeg" alt="tour image 4" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/5.jpeg" alt="tour image 5" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/6.jpeg" alt="tour image 6" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/7.jpeg" alt="tour image 7" class="d-block w-100">
      </div>

      <div class="carousel-item">
        <img src="src/website-assets/egypt-tour/8.jpeg" alt="tour image 8" class="d-block w-100">
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#egyptImages" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#egyptImages" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<!-- <script>
  const egyptImages = [
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
  ];

  const egyptImagesHtml = egyptImages.map((_img,index) => {
    return `<div class="carousel-item"><img src="src/website-assets/egypt-tour/${index+1}.jpeg" alt="tour image ${index+1}" class="d-block w-100"></div>`;
  });

  const indicatorBtns = egyptImages.map((_img, index) => {
    return `<button type="button" data-bs-target="#egyptImages" data-bs-slide-to="` + index + `"></button>`;
  });

  document.querySelector("#egypt .carousel-indicators").innerHTML = indicatorBtns.join("");
  document.querySelector("#egypt .carousel-indicators>button").classList.add("active");
  document.querySelector("#egypt .carousel-inner").innerHTML = egyptImagesHtml.join("");
  document.querySelector("#egypt .carousel-inner>div").classList.add("active");
</script> -->