// default colors
:root {
  --primary: #0066ff !important;
}

body{
  &.register{ 
    --primary: #0815a6 !important;
  }
  &.login{ 
    --primary: #e61920 !important;
  }
  &.tours{ 
    --primary: #0ab091 !important;
  }
  &.egypt{ 
    --primary: #32900c !important;
  }
  &.turkey{ 
    --primary: #b37a09 !important;
  }
}