@import "bootstrap/scss/bootstrap";
@import "bootstrap-rtl/dist/css/bootstrap-rtl.css";

@media (min-width: 992px) {
  .max-w-lg-fit {
    max-width: fit-content !important;
  }
}

.form-container {
  @extend .container;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}
.form-btn-primary {
  width: 100%;
  border-radius: 50px;
}
.forgot-password {
  text-align: left;
  font-size: 0.9rem;
}
.forgot-password a {
  text-decoration: none;
}
.card ul:not(.navbar-nav) ,
.card ul:not(.navbar-nav)   {
  @extend .ps-0;
}
ul:not(.navbar-nav) li {
  text-align: justify;
}
